In [2]:
import pandas as pd
import numpy as np

c1_sensor1=(10,12,11,12,10,11)
c1_sensor2=(11,12.5,11,12.5,11,12)
c1_fecha=("2020-10-01","2020-10-02","2020-10-03","2020-10-04","2020-10-05","2020-10-06")

c2_sensor1=(210,212,211,212,210)
c2_sensor2=(211,np.NaN,211,np.NaN,211)
c2_fecha=("2020-10-01","2020-10-02","2020-10-03","2020-10-04","2020-10-05")

In [44]:
df1=pd.DataFrame( { "Fecha": c1_fecha, "S1": c1_sensor1, "S2": c1_sensor2 } )
df1

        Fecha  S1    S2
0  2020-10-01  10  11.0
1  2020-10-02  12  12.5
2  2020-10-03  11  11.0
3  2020-10-04  12  12.5
4  2020-10-05  10  11.0
5  2020-10-06  11  12.0

In [4]:
df2=pd.DataFrame( { "Fecha": c2_fecha, "S1": c2_sensor1, "S2": c2_sensor2 } )
df2

        Fecha   S1     S2
0  2020-10-01  210  211.0
1  2020-10-02  212    NaN
2  2020-10-03  211  211.0
3  2020-10-04  212    NaN
4  2020-10-05  210  211.0

In [6]:
# PROPIEDADES básicas sobre un DataFrame
df1.ndim     # Numero de dimensiones
df1.shape    # Tamaño de cada dimensión
df1.size     # Número total de datos individuales
df1.index    # Identificadores de filas
df1.columns  # Identificadores de columnas
datos.dtypes # Tipos de datos de un dataframe

Index(['Fecha', 'S1', 'S2'], dtype='object')

In [12]:
# RECUPERAR DATOS DEL DATAFRAME
df1['Fecha']          # Recuperar una columna
df1[1:3]              # Recuperar un rango de filas
df1.iloc[2]           # Recuperar una fila
df1.iloc[0:2]         # Recuperar un rango de filas
df1.iloc[0:2,[0,2]]   # Recuperar solo algunas columnas de un rango de filas

        Fecha    S2
0  2020-10-01  11.0
1  2020-10-02  12.5

In [22]:
# TRABAJAR CON FILAS
df1.drop(1)            # Devuelve un dataframe sin una fila

        Fecha  S1    S2
0  2020-10-01  10  11.0
2  2020-10-03  11  11.0
3  2020-10-04  12  12.5
4  2020-10-05  10  11.0
5  2020-10-06  11  12.0

In [40]:
# Añadir un conjunto de filas de datos
datos=('2020-10-07',12,10)
datos=pd.DataFrame( (datos,), columns=df1.columns, index=[df1.index.stop])   # Creamos un dataframe desde una lista de filas
df1.append( datos )    # Devuelve un dataframe con los datos del primero y del segundo juntos

        Fecha  S1    S2
0  2020-10-01  10  11.0
1  2020-10-02  12  12.5
2  2020-10-03  11  11.0
3  2020-10-04  12  12.5
4  2020-10-05  10  11.0
5  2020-10-06  11  12.0
6  2020-10-07  12  10.0
0  2020-10-07  12  10.0

In [45]:
# COLUMNAS
columna_eliminada=df1.pop('S1')      # Elimina una columna del dataframe y me la devuelve

In [47]:
df1['S3']=columna_eliminada          # Asignar / Añadir una columna de datos al dataframe

In [51]:
 # Aplicar una transformación sobre los datos y generar un nuevo conjunto de datos
    # El conjunto de datos puede ser un a columna o el dataframe entero
df1['S3_Doblada']=df1['S3'].apply( lambda valor: valor*2 )

In [55]:
df2['ERROR']=df2['S2'].apply( lambda valor: 1 if np.isnan(valor) else 0 )  # OJO AL IF EN LINEA

In [58]:
df2['ERROR_ACC']=df2['ERROR'].cumsum()   # Acumula el valor de una columna

In [59]:
df2

        Fecha   S1     S2  ERROR  ERROR_ACC
0  2020-10-01  210  211.0      0          0
1  2020-10-02  212    NaN      1          1
2  2020-10-03  211  211.0      0          1
3  2020-10-04  212    NaN      1          2
4  2020-10-05  210  211.0      0          2

In [60]:
# Operaciones con VALORES en GENERAL y con VALORES PERDIDOS 
df2.replace(0,9)   # Devuelve un nuevo dataframe con valores reemplazados

        Fecha   S1     S2  ERROR  ERROR_ACC
0  2020-10-01  210  211.0      9          9
1  2020-10-02  212    NaN      1          1
2  2020-10-03  211  211.0      9          1
3  2020-10-04  212    NaN      1          2
4  2020-10-05  210  211.0      9          2

In [63]:
df2.replace(np.NaN,9)   # Devuelve un nuevo dataframe con valores PERDIDOS reemplazados
# NOTA IMPORTANTE: Esto lo podría aplicar solo a una columna
df2['S2'].replace(np.NaN,9)   # Devuelve un nuevo dataframe con valores PERDIDOS reemplazados

0    211.0
1      9.0
2    211.0
3      9.0
4    211.0
Name: S2, dtype: float64

In [65]:
df2.dropna()  # Devuelve un dataframe sin las filas que contengan valores perdidos

        Fecha   S1     S2  ERROR  ERROR_ACC
0  2020-10-01  210  211.0      0          0
2  2020-10-03  211  211.0      0          1
4  2020-10-05  210  211.0      0          2

In [66]:
df2.fillna(-9)  # Devuelve un dataframe con los valores perdidos rellenos con el valor suministrado
# NOTA IMPORTANTE: Esto lo podría aplicar solo a una columna

        Fecha   S1     S2  ERROR  ERROR_ACC
0  2020-10-01  210  211.0      0          0
1  2020-10-02  212   -9.0      1          1
2  2020-10-03  211  211.0      0          1
3  2020-10-04  212   -9.0      1          2
4  2020-10-05  210  211.0      0          2

In [68]:
df2.isna() # Devuelve un dataframe binaria con True donde hay valores perdidos

   Fecha     S1     S2  ERROR  ERROR_ACC
0  False  False  False  False      False
1  False  False   True  False      False
2  False  False  False  False      False
3  False  False   True  False      False
4  False  False  False  False      False

In [71]:
# Quiero las filas con valores perdidos en la columna S2
df2['S2'].isna()
df2[  df2['S2'].isna()  ]

        Fecha   S1  S2  ERROR  ERROR_ACC
1  2020-10-02  212 NaN      1          1
3  2020-10-04  212 NaN      1          2

In [74]:
# Valores únicos y frecuencias
df2['S1'].unique()           # Distintos valores en la columna S1

array([210, 212, 211], dtype=int64)

In [75]:
df2['S1'].value_counts()     # Tabla de frecuencias de la columna S1

212    2
210    2
211    1
Name: S1, dtype: int64

In [77]:
# Agregación de datos
df2.groupby('S1')      # Me da un dataframe agrupado?

In [78]:
df2.groupby('S1').size() # Tabla de frecuencias

S1
210    2
211    1
212    2
dtype: int64

In [79]:
df2.groupby('S1').sum() # Valor acumulado para cada valor unico de S1

        S2  ERROR  ERROR_ACC
S1
210  422.0      0          2
211  211.0      0          1
212    0.0      2          3

In [87]:
df2.groupby('S1').mean()
df2.groupby('S1').max()
df2.groupby('S1').min()
df2.groupby('S1').std()
df2.groupby('S1').median()
df2.groupby('S1').describe()

       S2                                                ERROR       ...       \
    count   mean  std    min    25%    50%    75%    max count mean  ...  75%
S1                                                                   ...
210   2.0  211.0  0.0  211.0  211.0  211.0  211.0  211.0   2.0  0.0  ...  0.0
211   1.0  211.0  NaN  211.0  211.0  211.0  211.0  211.0   1.0  0.0  ...  0.0
212   0.0    NaN  NaN    NaN    NaN    NaN    NaN    NaN   2.0  1.0  ...  1.0

         ERROR_ACC
     max     count mean       std  min   25%  50%   75%  max
S1
210  0.0       2.0  1.0  1.414214  0.0  0.50  1.0  1.50  2.0
211  0.0       1.0  1.0       NaN  1.0  1.00  1.0  1.00  1.0
212  1.0       2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0

[3 rows x 24 columns]

In [109]:
datos=pd.DataFrame( np.random.normal(loc=50,scale=10,size=10000) )
datos.dtypes

0    float64
dtype: object

In [110]:
datos[0].value_counts()

61.647197    1
36.038039    1
43.904930    1
36.227324    1
52.693293    1
            ..
52.996431    1
46.296919    1
64.441397    1
50.549594    1
47.199446    1
Name: 0, Length: 10000, dtype: int64

In [118]:
datos['Grupo']=pd.cut( datos[0] ,(-1,25,40,50,60,75,101) ,
                      labels=['muy bajo','bajo','medio bajo','medio-alto','alto','muy_alto'])

In [119]:
datos['Grupo'].value_counts()

medio-alto    3387
medio bajo    3355
bajo          1575
alto          1554
muy_alto        72
muy bajo        57
Name: Grupo, dtype: int64

In [123]:
datos['Grupo']=pd.qcut( datos[0] ,(3) ,('A','B','C'))
#                      labels=['muy bajo','bajo','medio bajo','medio-alto','alto','muy_alto'])

In [124]:
datos['Grupo'].value_counts()

A    3334
C    3333
B    3333
Name: Grupo, dtype: int64