In [2]:
import pandas as pd
import numpy as np

matriz=np.array([[1,'a'],[2,'b'],[3,'c']])

df=pd.DataFrame(matriz)#, columns=['A','B'], index=['a','b','c'])

In [3]:
df

   0  1
0  1  a
1  2  b
2  3  c

In [4]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [5]:
df.columns=['A','B']

In [6]:
df.columns

Index(['A', 'B'], dtype='object')

In [7]:
df

   A  B
0  1  a
1  2  b
2  3  c

In [8]:
df.columns[1]

'B'

In [9]:
df.columns[1]='C'

TypeError: Index does not support mutable operations

In [10]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
df.iloc[1]

A    2
B    b
Name: 1, dtype: object

In [13]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
df

   A  B
0  1  a
1  2  b
2  3  c

In [15]:
df.index=df['A']

In [16]:
df

   A  B
A
1  1  a
2  2  b
3  3  c

In [17]:
#del df['A']
df.index=df.pop('A')

In [18]:
df

   B
A
1  a
2  b
3  c

In [19]:
df.index=df['B']

In [20]:
df

   B
B
a  a
b  b
c  c

In [21]:

matriz=np.array([[1,'a'],[2,'b'],[3,'c']])

df=pd.DataFrame(matriz)#, columns=['A','B'], index=['a','b','c'])

In [22]:
df

   0  1
0  1  a
1  2  b
2  3  c

In [23]:
df.ndim

2

In [24]:
df.shape

(3, 2)

In [25]:
df.dtypes

0    object
1    object
dtype: object

In [26]:
df.describe()

        0  1
count   3  3
unique  3  3
top     2  c
freq    1  1

In [31]:
df[0]=df[0].astype(float)

In [32]:
df.dtypes

0    float64
1     object
dtype: object

In [50]:
df[0].describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
Name: 0, dtype: float64

In [37]:
# Objetos
Rectangulo(4,2)

NameError: name 'Rectangulo' is not defined

In [46]:
class Rectangulo:
    
    def __init__(self, base,altura):
        self.base=base
        self.altura=altura
    
    def perimetro(self):
        return 2*self.base+2*self.altura

    def area(self):
        return self.base*self.altura

In [39]:
r1=Rectangulo(5,4)

In [43]:
r1.base

5

In [44]:
r1.base=10

In [45]:
r1.base

10

In [49]:
r1.perimetro()

28

In [51]:
df

     0  1
0  1.0  a
1  2.0  b
2  3.0  c

In [58]:
df.T

   0  1  2
0  1  2  3
1  a  b  c

In [59]:
df

     0  1
0  1.0  a
1  2.0  b
2  3.0  c

In [61]:
df.sort_values(by=1, ascending=False)

     0  1
2  3.0  c
1  2.0  b
0  1.0  a

In [62]:
df[df[0]>2]

     0  1
2  3.0  c

In [63]:
df[0]>2

0    False
1    False
2     True
Name: 0, dtype: bool

In [64]:
df

     0  1
0  1.0  a
1  2.0  b
2  3.0  c

In [70]:
df.iloc[1:3,[0,1]]

     0  1
1  2.0  b
2  3.0  c

In [72]:
pd.__version__

'1.0.5'

In [73]:
datos=pd.DataFrame((1,2,3,4))
datos[0].apply(lambda x:x+2)

In [74]:
datos

   0
0  1
1  2
2  3
3  4

In [77]:
datos[0].apply(lambda x:x+2)

0    3
1    4
2    5
3    6
Name: 0, dtype: int64