In [8]:
import pandas as pd
datos=pd.DataFrame({
    'nombre': ('Ivan','Luis','Monica','Marta'),
    'numero_mascotas': (2,1,0,'-'),
    'tipo_mascota_1': ('Perro', 'Gato', '-','-')
})
datos

   nombre numero_mascotas tipo_mascota_1
0    Ivan               2          Perro
1    Luis               1           Gato
2  Monica               0              -
3   Marta               -              -

In [ ]:
# Cuantas personas tienen mascota?
# Tabla de frecuencias de la variable "TIENE MASCOTA"
#     TIENE_MASCOTA
# 0        SI
# 1        SI
# 2        NO
# 3        --
#
# SI    2
# NO    1
# --    1 ----< INCERTIDUMBRE

#Tabla de frecuencias de la variable TIPO_MASCOTA_1
# Perro    1
# Gato     1
# --       1 (A monica no la pongo... porque NO LE APLICA)

# Qué porcentaje de familias con mascotas tienen PERROS? 33% SEGURO - Potencialmente hasta un 66%
# Qué porcentaje de familias tienen PERROS?              25% SEGURO - Potencialmente hasta un 50%


# Los valores perdidos tienen distinta naturaleza: 
#   NS/NC
#   No aplica
#   Fallo de sistema (Problema con una importación)